html {
<<<<<<< Updated upstream
    font-size: 62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
}
body {
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    background-color: black;
}
header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}
.artist {
    display: flex;
    height: 400px;
    width: 100%;
    background-image: url(images/01_temicoker.jpeg);
    background-repeat: no-repeat;
}
.sticknav {
    display: flex;
    background-color: rgb(15, 221, 15);
    height: 50px;
    width: 70%;
}
#galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#galerie > img {
    margin: 1rem;
=======
    font-family: 'Gentium Book Basic', sans-serif;
}

/* STYLE NAVBAR */
nav {
  background: black;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav{
  padding-top: 63px;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);

}
.fixed-nav li.logo {
  max-width: 500px;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all .5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color: black;
}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}


/* ABOUT */

.container {
    background-image: url(images/background-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;

}

h1 {
    text-align: center;
    font-size: 100%;
}
.photoBio {
    width: 50%;
}

.imagesClient {
  display: flex;
}
section {
    margin-top: 100px;
    
}
  
>>>>>>> Stashed changes
