html {
    font-size: 62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
}
body {
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    background-color: black;
}
header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}
.artist {
    display: flex;
    height: 400px;
    width: 100%;
    background-image: url(images/01_temicoker.jpeg);
    background-repeat: no-repeat;
}
.sticknav {
    display: flex;
    background-color: rgb(15, 221, 15);
    height: 50px;
    width: 70%;
}
#galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#galerie > img {
    margin: 1rem;